<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seuEcommerce - Lugar de comprar barato</title>
</head>
<body>
    <h1>Alterar {{title}}</h1>
    <form action="/anuncio/editar/{{ anuncio.id }}" method="post">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" value="{{ anuncio.nome }}">
        <br><br>

        <label for="desc">Descrição</label>
        <input rows="4" cols="50" id="desc" name="desc" value="{{ anuncio.desc }}">
        <br><br>

        <label for="qtd">Quantidade</label>
        <input type="text" id="qtd" name="qtd" value="{{ anuncio.qtd }}">
        <br><br>

        <label for="imagem">Imagem</label>
        <input type="file" name="imagem" value="{{ anuncio.imagem }}">
        <br><br>

        <label for="preco">Preço</label>
        <input type="text" id="preco" name="preco" value="{{ anuncio.preco }}">
        <br><br>

        <label for="cat">Categoria</label>
        <select class="form-control" id="cat" name="cat">
            {% for categoria in categorias %} 
                <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="usu">Usuário</label>
        <select class="form-control" id="usu" name="usu">
            {% for usuario in usuarios %} 
                <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
            {% endfor %}
        </select>
        <br><br>

        <p><input type="submit" value="Alterar"></p>
    </form>
    <a href={{url_for("anuncio")}}>Cancelar</a>
</body>
</html>