<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seuEcommerce - Lugar de comprar barato</title>
</head>
<body>
    <h1>Alterar {{title}}</h1>
    <form action="/pergunta/editar/{{ pergunta.id }}" method="POST">
        <label for="texto">Texto</label>
        <input type="text" id="texto" name="texto" value="{{pergunta.texto}}">
        <br><br>   

        <label for="anuncio_id">Anuncio</label>
        <select class="form-control" id="anuncio_id" name="anuncio_id">
            {% for anuncio in anuncios %} 
                <option value="{{ anuncio.id }}">{{ anuncio.nome }}</option>
            {% endfor %}
        </select>
        <br><br>
        
        <label for="usuario_id">Quem está perguntando</label>
        <select class="form-control" id="usuario_id" name="usuario_id">
            {% for usuario in usuarios %} 
                <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
            {% endfor %}
        </select>

        <p><input type="submit" value="Alterar"></p>
    </form>
    <a href={{url_for("pergunta")}}>Cancelar</a>
    <br><br>
</body>
</html>