<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seuEcommerce - Lugar de comprar barato</title>
</head>
<body>
    <h1>Alterar {{title}}</h1>
    <form action="/anuncio/editar/{{ anuncio.id }}" method="post">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" value="{{ anuncio.nome }}">
        <br><br>

        <label for="desc">Descrição</label>
        <input rows="4" cols="50" id="desc" name="desc" value="{{ anuncio.desc }}">
        <br><br>

        <label for="qtd">Quantidade</label>
        <input type="text" id="qtd" name="qtd" value="{{ anuncio.qtd }}">
        <br><br>

        <label for="imagem">Imagem</label>
        <input type="file" name="imagem" value="{{ anuncio.imagem }}">
        <br><br>

        <label for="preco">Preço</label>
        <input type="text" id="preco" name="preco" value="{{ anuncio.preco }}">
        <br><br>

        <label for="cat">Nº Categoria</label>
        <input type="text" id="cat" name="cat" value="{{ anuncio.cat_id }}">
        <br><br>

        <label for="usu">Nº Usuário</label>
        <input type="text" id="usu" name="usu" value="{{ anuncio.usu_id }}">
        <br><br>

        <p><input type="submit" value="Alterar"></p>
    </form>
    <a href={{url_for("anuncio")}}>Cancelar</a>
</body>
</html>