<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>seuEcommerce - Lugar de comprar barato</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">seuEcommerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="justify-content-end collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for("anuncio") }}>Anúncios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for("categoria") }}>Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for("favoritos") }}>Favoritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for("pergunta") }}>Perguntas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for("rel_compras") }}>Relatório de Compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for("rel_vendas") }}>Relatório de Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for("logusuario") }}>Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for("logout") }}>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <h1 style="text-align: center;">Aproveite o que há de melhor em seuEcommerce!</h1>
    <br>
    <h2 style="text-align: center;">Confira os anúncios em destaque</h3>
    <br>
    <div class="container">
        <h3>Realize uma compra</h3>
        <form action="/anuncio/compra" method="post">
            <table class="table table-striped table-responsive table-bordered">
                <thead class="thread-default">
                    <tr>
                        <th>Anúncio</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Usuário</th>
                        <th>Comprar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for anuncio in anuncios %}
                        {% if anuncio.qtd > 0 %}
                            <tr>
                                <td><input readonly type="text" id="anuncio_nome" name="anuncio_nome" value="{{ anuncio.nome }}"></td>
                                <td>
                                    <div class="form-select">
                                        <select class="form-control" id="anuncio_qtd" name="anuncio_qtd">
                                            {% for i in range(anuncio.qtd) %}
                                                <option value="{{ i + 1 }}">{{ i + 1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td><input readonly type="text" id="anuncio_preco" name="anuncio_preco" value="{{ anuncio.preco }}"></td>
                                <td>
                                    <div class="form-select">
                                        <select class="form-control" id="usu" name="usu">
                                            {% for usuario in usuarios %} 
                                                <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td><input type="submit" class="btn btn-warning" value="Comprar"></td>
                            </tr>
                        {% else %}
                            {{ null }}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    <br>
    <div class="container">
        <h3>Realize uma venda</h3>
        <form action="/anuncio/venda" method="post">
            <table class="table table-striped table-responsive table-bordered">
                <thead class="thread-default">
                    <tr>
                        <th>Anúncio</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Usuário</th>
                        <th>Vender</th>
                    </tr>
                </thead>
                <tbody>
                    {% for anuncio in anuncios %}
                        {% if anuncio.qtd > 0 %}
                            <tr>
                                <td><input readonly type="text" id="anuncio_nome" name="anuncio_nome" value="{{ anuncio.nome }}"></td>
                                <td>
                                    <div class="form-select">
                                        <select class="form-control" id="anuncio_qtd" name="anuncio_qtd">
                                            {% for i in range(anuncio.qtd) %}
                                                <option value="{{ i + 1 }}">{{ i + 1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td><input readonly type="text" id="anuncio_preco" name="anuncio_preco" value="{{ anuncio.preco }}"></td>
                                <td>
                                    <div class="form-select">
                                        <select class="form-control" id="usu" name="usu">
                                            {% for usuario in usuarios %} 
                                                <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td><input type="submit" class="btn btn-warning" value="Vender"></td>
                            </tr>
                        {% else %}
                            {{ null }}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>