<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seuEcommerce - Lugar de comprar barato</title>
</head>
<body>
    <h1>Aproveite o que há de melhor em seuEcommerce!</h1>
    <br>
    <a href={{url_for("anuncio")}}>Anúncios</a>
    <br><br>
    <a href={{url_for("categoria")}}>Categorias</a>
    <br><br>
    <a href={{url_for("favoritos")}}>Favoritos</a>
    <br><br>
    <a href={{url_for("pergunta")}}>Perguntas</a>
    <br><br>
    <a href={{url_for("rel_compras")}}>Relatório de Compras</a>
    <br><br>
    <a href={{url_for("rel_vendas")}}>Relatório de Vendas</a>
    <br><br>
    <a href={{url_for("usuario")}}>Login Usuário</a>
    <br><br>
</body>
</html>