<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>seuEcommerce - Lugar de comprar barato</title>
</head>
<body>
    <br>
    <div class="container">
        <div class="page-header">
            <h1>Perguntas</h1>
        </div>
        <form action="/pergunta/criar" method="post">
            <div class="form-select">
                <label for="usuario_id">Quem está perguntando</label>
                <select class="form-control" id="usuario_id" name="usuario_id">
                    {% for usuario in usuarios %} 
                        <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
                    {% endfor %}
                </select>
            </div>  
            <br>
            <div class="form-select">
                <label for="anuncio_id">Anuncio</label>
                <select class="form-control" id="anuncio_id" name="anuncio_id">
                    {% for anuncio in anuncios %} 
                        <option value="{{ anuncio.id }}">{{ anuncio.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="texto">Sua pergunta</label>
                <input type="text" class="form-control" id="texto" name="texto" required>
            </div> 
            <br>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Cadastrar">
                <a style="margin-left: 10px;" href={{url_for("index")}}>Voltar</a>
            </div>
        </form>
    </div>
    <br>
    <div class="container">
        <div class="page-header">
            <h1>Lista de {{titulo}}</h1>
        </div>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thread-default">
                <tr>
                    <th>Usuário</th>
                    <th>Pergunta</th>
                    <th>Anúncio</th>
                    <th>Alterar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for pergunta in perguntas %}
                    <tr>
                        <td>
                            {% for usuario in usuarios %}
                                {% if pergunta.usuario_id == usuario.id %}
                                    {{ usuario.nome }}
                                {% else %}
                                    {{ null }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ pergunta.texto }}</td>
                        <td>
                        {% for anuncio in anuncios %}
                            {% if pergunta.anuncio_id == anuncio.id %}
                                {{ anuncio.nome }}
                            {% else %}
                                {{ null }}
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td><a href={{url_for("editarpergunta",id=pergunta.id)}}>Alterar</a></td>
                        <td><a href={{url_for("deletarpergunta",id=pergunta.id)}}>Deletar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href={{url_for("resposta")}} class="btn btn-warning">Respostas</a>
    </div>
    <br>
</body>
</html>