<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>seuEcommerce - Lugar de comprar barato</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="page-header">
            <h1>Relatório de {{title}}</h1>
        </div>
        <br>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thread-default">
                <tr>
                    <th>Usuário</th>
                    <th>Anúncio</th>
                    <th>Quantidade Vendida</th>
                    <th>Preço Unitário de Venda</th>
                    <th>Preço Total da Venda</th>
                </tr>
            </thead>
            <tbody>
                {% for venda in vendas %}
                    <tr>
                        <td>
                            {% for usuario in usuarios %} 
                                {% if usuario.id == venda.usuario_id %}
                                    {{ usuario.nome }}
                                {% else %}
                                    {{ null }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ venda.nome }}</td>
                        <td>{{ venda.qtd }}</td>
                        <td>{{ venda.preco }}</td>
                        <td>{{ venda.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href={{url_for("index")}}>Voltar</a>
        <br><br>
    </div>
</body>
</html>