<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>seuEcommerce - Lugar de comprar barato</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="page-header">
            <h1>Responda</h1>
        </div>
        <form action="/resposta/criar" method="post">
            <div class="form-select">
                <label for="usuario_id">Quem está respondendo</label>
                <select class="form-control" id="usuario_id" name="usuario_id">
                    {% for usuario in usuarios %} 
                        <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
                    {% endfor %}
                </select>
            </div> 
            <br>
            <div class="form-select">
                <label for="pergunta_anuncio">Selecione o que deseja responder</label>
                <select class="form-control" id="pergunta_anuncio" name="pergunta_anuncio">
                    {% for anuncio in anuncios %} 
                        {% for pergunta in perguntas %} 
                            {% if anuncio.id == pergunta.anuncio_id %}
                                <option>ANÚNCIO: {{anuncio.nome}} | PERGUNTA: {{ pergunta.texto }} </option>
                            {% else %}
                                {{ null }}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>  
            <br>
            <div class="form-group">
                <label for="texto_resposta">Escreva sua resposta</label>
                <input type="text" class="form-control" id="texto_resposta" name="texto_resposta" required>
            </div> 
            <br>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Responder">
                <a style="margin-left: 10px;" href={{url_for("pergunta")}}>Voltar</a>
            </div>
        </form>
    </div>
    <br>
    <div class="container">
        <br>
        <div class="page-header">
            <h1>Respostas</h1>
        </div>
        <br>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thread-default">
                <tr>
                    <th>Usuário</th>
                    <th>Pergunta</th>
                    <th>Resposta</th>
                    <th>Alterar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for resposta in respostas %}
                    <tr>
                        <td>
                            {% for usuario in usuarios %}
                                {% if resposta.usuario_id == usuario.id %}
                                    {{ usuario.nome }}
                                {% else %}
                                    {{ null }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{resposta.texto}}</td>
                        <td>{{resposta.pergunta_resposta}}</td>
                        <td><a href={{url_for("editarresposta",id=resposta.id)}}>Alterar</a></td>
                        <td><a href={{url_for("deletaresposta",id=resposta.id)}}>Deletar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>