<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seuEcommerce - {{title}}</title>
</head>
<body>
    <h1>Login Usuário</h1>
    <form action="loguser" method="POST">
        <label for="user">Nome</label>
        <input type="text" id="user" name="user">
        <br><br>
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email">
        <br><br>
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha">
        <br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>